#website_header {
	
	background-color: black;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
	background-image: url(1.jpg);
	background-size: 100%;
	font-size: 25px;
	
}

h1{
	color:white;

}

#para{
	background-color:seagreen;
	margin: 0 auto;
	height: 350px;

}

#footer{

	background:white;
	margin: 0 auto;
	padding-right: 200px;
	padding-left: 200px;
	text-align: center;


}

#comment{

	width: 500px;
	height: 40px;
}

.button{

	border: solid 1px #700;
	padding: 13px;
	color:white;
	background: #700;
	border-radius: 5px;
	transition: all 0.5s;
	font-size: 15px;
	

}


.button:hover{

	border: solid 1px #700;
	padding: 13px;
	color:#700;
	background: white;
	border-radius: 5px;
	transition: all 0.5s;
	font-size: 15px;

}
	
	






