* {

    background-image: url(6.jpg);
    background-repeat: no-repeat;
    
    

}

#si{
    text-align: center;
}

#sign{

    border: solid 1px rgb(0, 0, 0);
    width: 50%;
    text-align: left;
    margin-left:25%;
    margin-right: 25%;
    margin-top: 100px;
    height: 600px;
    background: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    

}





.whitebg{

    background: white;
    font-size: 25px;
    font-family: Arial;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    
    
}

#btn{

	border: solid 1px #700;
	padding: 15px;
	color:black;
	background:linear-gradient(#9b59b6,#3498db,#1abc9c);
	border-radius: 5px;
	transition: all 0.5s;
	font-size: 20px;
	margin-top: 5px;
    margin-left: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-shadow: gray 3px;
	
	

}


#btn:hover{

	border: solid 1px #700;
	padding: 13px;
	color: black;
	background:linear-gradient(#1abc9c,#3498db,#9b59b6);
	border-radius: 5px;
	transition: all 0.2s;
	font-size: 18px;
    padding-left: 28px;
    padding-right: 28px;
    
}

#log{
    font-size: 20px;
    text-align: center;
    background-color: white;
    background: white;
    padding-top: 30px;
    
    
}

a{
    background: white;
    color: blue;
}

a:hover{
    color:darkblue;
}
    




h1{

    background: white;
}

hr{

    height: 3px;
    color:black;
}

input{

    border-radius: 5px;
    border-color: slateblue;
    padding-left: 10px;
    width: 400px;
}

